
<%=flash[:notice]%>
<h1>Book List</h1>

<%= link_to "Create Book", new_book_path%>

<ul>

  <% @books.each do |book| %>
    <li>
      <%= link_to book.name , book_path(book.slug)%>
      |
      <%= link_to "edit",edit_book_path(book.slug)%>
      |
      <%= link_to "delete", book_path(book.slug), method: "DELETE" , data:{confirm: "are you sure?"}%>
      |
      <%= link_to "buy",buy_book_path(book.slug), method:"POST"%>
    </li>
  <% end %>


</ul>